.blockCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
}

.width100{
    width: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px;                  
}


.sideBySideButton {
    margin: 0 10px;  
    padding: 10px 20px; 
}

.space{
    display: flex;
    justify-content: space-between;
}
